*{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 10px 20px;
  margin: 0 auto;
}

.logo_title {
  display: inline-flex;
  align-items: center;
  color: MediumAquamarine;
}

.main_nav {
  display: inline-flex;
  align-items: center;
  padding-right: 45px;
}

.main_nav span{
  display: inline-block;
  margin: 10px;
}
